#tree {
    height: 100%;

    .container {
        width: 250px;
        height: 100%;
        margin: 0;
        padding: 0;
        background: var(--col-bg);
        transition: all 0.5s;

        .tree-node {
            list-style: none;

            &__content {
                display: block;
                line-height: 42px;
                padding-left: 10px;
                text-decoration: none;
                color: var(--col-fg);
                transition: all 0.5s;

                &:hover {
                    color: var(--max-contrast);
                }
            }

            &__selected {
                color: var(--max-contrast);
                background: var(--theme-color);
            }
        }
    }
}
